.burger {
    display: block;
    background-image: url(../img/burger.svg);
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    background-color: #79bdf1;
    border-radius: 100px;
    width: 48px;
    height: 48px;
    transition: 0.3s ease;
    &.active {
        background-image: url(../img/cross.svg);
        transform: rotate(45deg);
        background-color: transparent;
    }
}