.intro {
    position: relative;
    .wrapper {
        max-width: none;
    }
    &__content {
        height: 890px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        max-width: 940px;
        margin-left: 628px;
        h1 {
            color: #16578d;
            font-size: 87px;
            font-family: 'Pattaya',Arial,sans-serif;
            line-height: 1.15;
            font-weight: 400;
            span {
                position: relative;
                z-index: 2;
                &:before {
                    content: '';
                    position: absolute;
                    background-image: url(../img/intro/gradient.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 312px;
                    height: 128px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-48%,-48%);
                    z-index: -1;
                }
            }
        }
        p {
            color: #16578d;
            font-size: 24px;
            font-family: 'Open Sans',Arial,sans-serif;
            line-height: 1.55;
            font-weight: 400;
            margin-top: 60px;
        }
    }
    &__promo {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        position: absolute;
        bottom: 100px;
        right: 100px;
        p {
            color: #16578d;
            font-size: 32px;
            font-family: 'Pattaya',Arial,sans-serif;
            line-height: 1.55;
            font-weight: 400;
            position: relative;
            z-index: 2;
        }
    }
    &__btn {
        width: 200px;
        height: 55px;
        margin-left: 20px;
        a {
            box-shadow: 0px 0px 150px 30px rgb(250, 229, 138);
        }
    }
    &__age {
        position: absolute;
        top: 0;
        right: 100px;
        a {
            display: block;
            background-image: url(../img/intro/age.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 190px;
            height: 110px;
            animation: anim-age 2s infinite linear;
            backface-visibility: hidden;
        }
        @keyframes anim-age {
        0% {opacity:1;transform:translateX(0px)translateY(0px)rotate(0deg)scale(1,1);animation-timing-function:linear;}
        50% {opacity:1;transform:translateX(0px)translateY(0px)rotate(0deg)scale(1.1,1.1);animation-timing-function:linear;}
        100% {opacity:1;transform:translateX(0px)translateY(0px)rotate(0deg)scale(1,1);}
        }         
    }
    //animate img
    &__img {
        position: absolute;
        width: 980px;
        height: 840px;
        left: -246px;
        top: 50%;
        transform: translateY(-50%);
        img {
            transition: 0.3s ease;
            width: 100%;
            &:first-child {
                position: absolute;
            }
            &:last-child {

            }
            &:hover {
                &:first-child {
                    opacity: 0;
                }
            }
        }
    }
}