.nav {
    display: flex;
    justify-content: space-between;
    width: 1060px;
    padding: 0 35px;
    @media (max-width:1199px) {
        width: 600px;
    }
    @media (max-width:980px) {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    &__elem {
        display: block;
        padding: 10px 35px;
        color: #16578d;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Open Sans';
        transition: 0.3s ease;
        cursor: pointer;
        @media (max-width:1199px) {
            padding: 10px;
            font-size: 14px;
        }
        @media (max-width:980px) {
            padding: 10px 0;
            font-size: 16px;
        }
        &:hover {
            color: #79bdf1;
        }
    }
}