<div class="contacts">
    <div class="wrapper">
        <div class="contacts__content">
            <h2 class="contacts__title title title_center">Контакты</h2>
            <div class="contacts__grid">

                <div class="contacts__img">
                    <img src="img/contacts/1.png" alt="">
                </div>

                <div class="contacts__info">
                    <h3 class="contacts__smalltitle">Связаться к нами легко</h3>
                    <span class="contacts__titleinfo">Вы можете написать нам в любой удобный для вас мессенджер или позвонить <br><br> </span>
                    <a class="contacts__number" href="tel:89957882549" rel="noopener noreferrer">+7 995 788-25-49</a>
                    <div class="contacts__soc">
                        <a href="https://t.me/Marina_Elizarova23" class="tg" style="background-image: url(img/telegramm.svg);"></a>
                        <a href="https://wa.me/79957882549/?text=Добрый%20день,%20Я%20хочу%20записать%20ребенка%20на%20подготовку%20к%20школе" class="whatsapp" style="background-image: url(img/watsapp.svg);"></a>
                        <a href="https://instagram.com/deti.doma_online" class="insta" style="background-image: url(img/insta.svg);"></a>
                    </div>
                    <div class="contacts__btn">
                        <a class="btn btn_yellow">Записаться на пробный урок</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>