<footer class="footer">
	<div class="footer__content">

		<div class="footer__topelem">
			<a href="" class="footer__polit">Политика обработки данных</a>
			<nav class="footer__nav">
				<a href="" class="footer__nav-elem">О нас</a>
				<a href="" class="footer__nav-elem">О занятиях</a>
				<a href="" class="footer__nav-elem">Тарифы</a>
				<a href="" class="footer__nav-elem">Отзывы</a>
				<a href="" class="footer__nav-elem">Учителя</a>
				<a href="" class="footer__nav-elem">Контакты</a>
			</nav>
			<a onclick='window.scrollTo({top: 0, behavior: "smooth"});' class="footer__up-btn"> Наверх <svg width="5" height="17" viewBox="0 0 6 20"> <path fill="#ffffff" d="M5.78 3.85L3.12.28c-.14-.14-.3-.14-.43 0L.03 3.85c-.14.13-.08.27.13.27h1.72V20h2.06V4.12h1.72c.15 0 .22-.07.19-.17a.26.26 0 00-.07-.1z" fill-rule="evenodd"></path> </svg></a>
		</div>

		<div class="footer__bottomelem">
			<div class="footer__logo">
				<a href="/" class="logo"></a>
			</div>
	
			<p class="footer__cop"> <br> ©2021 Deti.Doma.Online</p>
		</div>

	</div>
</footer>
