<div class="header__fantom"></div>
<header class="header" id="header">
	<div class="wrapper">
		<div class="header__content" id="header__content">

			<div class="header__logo">
				<a href="/" class="logo"></a>
			</div>

			<div class="header__nav">
				<nav class="nav">
					<a href="" class="nav__elem">О нас</a>
					<a href="" class="nav__elem">О занятиях</a>
					<a href="" class="nav__elem">Тарифы</a>
					<a href="" class="nav__elem">Отзывы</a>
					<a href="" class="nav__elem">Команда</a>
					<a href="" class="nav__elem">FAQ</a>
					<a href="" class="nav__elem">Контакты</a>
				</nav>
			</div>

			<div class="header__btn">
				<a data-fancybox="popup-form-head" data-src="#popup-form" class="btn btn_yellow">Хочу пробный урок!</a>
			</div>

		</div>
	</div>
</header>
<div class="header__burger">
	<a class="burger" data-target="#header"></a>
</div>
