<div class="popup-backcall" id="popup-form">
    <h2 class="popup-backcall__title">Запись на <span style="color: rgb(121, 189, 241);">бесплатное</span> пробное занятие</h2>
    <p class="popup-backcall__info">Заполните форму ниже и мы с вами свяжемся для назначения удобного времени занятия</p>
    <div class="popup-backcall__form">
        <form action="" class="form-sign-up form-sign-up_popup">
            <input name="name" type="name" placeholder="Ваше имя" required>

            <label>
                <input name="tel" type="number" id="phone2" required>
            </label>

            <p>Возраст ребёнка</p>
            <div class="form-sign-up__select">
                <select name="age" id="">
                    <option value="4" selected>4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
            </div>

            <label>
                <input name="city" type="text" placeholder="Город (для определения вашего часового пояса)">
            </label>

            <input class="checkbox" name="polit" type="checkbox" id="polit2" required>
            <label class="checkbox__label" for="polit2">
                <div>Я даю согласие с&nbsp;<a href="/politika">Политикой в отношении обработки персональных данных</a></div> 
            </label>

            <div class="form-sign-up__btn">
                <button type="submit" class="btn btn_blue">Записаться</button>
            </div>
        </form>
    </div>
</div>