<div class="program">
    <div class="wrapper">
        <div class="program__content">
            <h2 class="program__title">Программа онлайн-курса</h2>
            <!-- info -->
            <div class="program__info">
                <p class="program__info-text">Наша учебная программа — это комплексная подготовка к школе в атмосфере любви и заботы. Она помогает ребенку быстрее и проще адаптироваться к школе, сохранить доверительные отношения с родителями</p>
                <div class="program__age-info">

                    <div>
                        <p><span>Возраст:</span> 4 – 5 лет</p>
                        <p><span>Продолжительность:</span>  45 минут</p>
                    </div>

                    <div>
                        <p><span>Возраст:</span> 6 – 7 лет</p>
                        <p><span>Продолжительность:</span> 60 минут</p>
                    </div>

                </div>
            </div>

            <!-- blocks -->
            <h2 class="program__title-small">Подготовительные занятия для будущих первоклассников включают следующие блоки:</h2>
            <div class="program__blocks">
                <img src="img/program/1.svg" alt="">
                <img src="img/program/2.svg" alt="">
                <img src="img/program/4.svg" alt="">
                <img src="img/program/5.svg" alt="">
                <img src="img/program/6.svg" alt="">
                <img src="img/program/7.svg" alt="">
                <img src="img/program/8.svg" alt="">
                <img class="program__line" src="img/program/line.png" alt="">
            </div>
        </div>
    </div>
</div>