<div class="questions">
    <div class="wrapper">
        <div class="questions__content">
            <h2 class="questions__title title">Ответы на вопросы</h2>
            <div class="questions__tabs">

                <div class="questions__tab">
                    <a class="questions__question" data-target="#question-1">Как проходят занятия?</a>
                    <div id="question-1" class="questions__info">
                        · Занятия проходят на платформе Zoom.<br>· Список материалов, которые потребуются, мы присылаем заранее<br>· Вы получаете ссылку на конференцию, где вас будет ждать Ваш преподаватель.
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__question" data-target="#question-2">Нужно ли присутствие родителей?</a>
                    <div id="question-2" class="questions__info">
                        На пробном уроке рекомендуется присутствие родителей: вы познакомитесь с методикой, посмотрите, как проходит урок и сможете задать педагогу все интересующие вас вопросы.<br><br>В дальнейшем дети занимаются самостоятельно под присмотром педагога, а у родителей будет свободное время 
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__question" data-target="#question-3">Что будет, если мы пропустили?</a>
                    <div id="question-3" class="questions__info">
                        Предупредите об отсутствии минимум за 3 часа. И мы договоримся о замене, переносе или отмене. На всякий случай заметим, что для прогресса важна регулярность занятий. Детям до 7 лет мы рекомендуем заниматься не реже 2 раз в неделю.
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__question" data-target="#question-4">Какое расписание занятий?</a>
                    <div id="question-4" class="questions__info">
                        Заниматься можно в любое удобное время – мы всегда поможем подобрать подходящую группу
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__question" data-target="#question-5">Это полноценная подготовка к школе?</a>
                    <div id="question-5" class="questions__info">
                        Наши программы ориентируются на требования ФГОС и обеспечивают комплексную подготовку к школе
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__question" data-target="#question-6">Будет ли ребенку интересно учиться?</a>
                    <div id="question-6" class="questions__info">
                        Мы научились проводить онлайн - уроки&nbsp;&nbsp;еще интереснее и&nbsp;&nbsp;эффективнее,&nbsp;&nbsp;чем «живые» занятия.Для этого &nbsp;используем&nbsp;&nbsp;интерактивные задания, яркие и красочные презентации, удерживая внимание ученика.<br><br>К чему слова – просто запишитесь на наш бесплатный пробный урок сами все увидите&nbsp;
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>