<div class="rates">
    <div class="wrapper">
        <div class="rates__content">
            <h2 class="rates__title title title_center">Тарифы</h2>
            <div class="rates__grid">

                <div class="rates__card card-rates">
                    <h3 class="card-rates__title">Подготовка к школе 4-5 лет</h3>
                    <h4 class="card-rates__title_small">Занятия в группе</h4>
                    <p><span>2 раза в неделю</span> — 3 900 ₽ в месяц (8 занятий)</p>
                    <p><span>1 раз в неделю</span> — 2 000 ₽ в месяц (4 занятия)</p>
                    <h4 class="card-rates__title_small">Индивидуальные занятия</h4>
                    <p><span>1 урок</span> — 700 ₽</p>
                    <div class="card-rates__btn">
                        <a class="btn btn_yellow">Записаться</a>
                    </div>
                </div>

                <div class="rates__card card-rates">
                    <h3 class="card-rates__title">Подготовка к школе 6-7 лет</h3>
                    <h4 class="card-rates__title_small">Занятия в группе</h4>
                    <p><span>2 раза в неделю</span> — 4 400 ₽ в месяц (8 занятий)</p>
                    <p><span>1 раз в неделю</span> — 2 300 ₽ в месяц (4 занятия)</p>
                    <h4 class="card-rates__title_small">Индивидуальные занятия</h4>
                    <p><span>1 урок</span> — 900 ₽</p>
                    <div class="card-rates__btn">
                        <a class="btn btn_yellow">Записаться</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>