<div class="reviews">
    <div class="wrapper">
        <div class="reviews__content">
            <h2 class="reviews__title">Отзывы</h2>
            <div class="reviews__grid">

                <div class="reviews__elem">
                    <a class="reviews__img" style="background-image: url(img/reviews/1.png);"></a>
                    <h3 class="reviews__name">Журавлева Ольга</h3>
                    <div class="reviews__text">
                        <p>Ника ставит «класс»👍🏻 онлайн школе @deti.doma_online</p>
                        <p>А я ее полностью поддерживаю!</p><br>
                        <p>И я могу его смело вам рекомендовать👌🏻</p><br>
                        <p>Самый главный плюс - участие мамы не нужно. Я просто сижу рядом и работаю в телефоне🤫 скажу по секрету, по вечерам , когда дети дома , мне не удавалось это делать практически никогда.</p>
                        <p>И заметьте : ребёнок в это время веселился и развивался! Не тупил в гаджеты👍🏻</p>
                        <div class="reviews__text-hidden">
                            Онлайн занятия это наше спасение,мы дома,никуда ходить не надо. Это экономия сил и времени.
                            Учителя опираются на законы психологии и педагогики,все уроки проходят в игровой форме.
                            
                            Кстати. Детки у них изучают: математику, чтение, окружающий мир. Делают поделки.И даже малыши легко осваивают первые навыки письма и чтения☺️
                            
                            Обучают детей легко и с любовью.
                        </div>
                        <a class="reviews__btn-show"></a>
                    </div>
                    <a href="https://www.instagram.com/p/CWdEl2isUrW/?utm_medium=copy_link" class="reviews__inst"></a>
                </div>

                <div class="reviews__elem">
                    <a class="reviews__img" style="background-image: url(img/reviews/2.png);"></a>
                    <h3 class="reviews__name">Анна</h3>
                    <div class="reviews__text">
                        <p>Научить Руслана читать и писать на русском языке, живя в другой стране - это очень сложно, есть множество факторов, которые замедляют или мешают процессу обучения. Главный из них, это отсутствие языковой среды🤔</p><p>Но я нашла отличного помощника в этом нелёгком деле. Это онлайн школа @deti.doma_online</p>
                        <div class="reviews__text-hidden">
                        И заметьте : ребёнок в это время веселился и развивался! Не тупил в гаджеты ))
                        На уроке ребёнок отправляется в увлекательное путешествие вместе с педагогом и выполняет разные задания: от математики, чтения до творческих занятий. Ника больше всего оценила зарядку с животными Африки.
                        Мне же понравилось то, что уроки онлайн, это не запись ролика, с ребёнком общается педагог, так результат всегда лучше!
                        </div>
                        <a class="reviews__btn-show"></a>
                    </div>
                    <a href="https://www.instagram.com/anna__finland/p/CT2CGu1sJN7/?utm_medium=copy_link" class="reviews__inst"></a>
                </div>

                <div class="reviews__elem">
                    <a class="reviews__img" style="background-image: url(img/reviews/3.png);"></a>
                    <h3 class="reviews__name">Яна</h3>
                    <div class="reviews__text">
                        <p>Подготовка к школе @deti.doma_online 🔝Сегодня мы уже прошли первый бесплатный пробный урок и дочь в восторге🔥 Да что там дочь, даже сын очень заинтересованно наблюдал за её занятиями и пытался всё повторять☺️</p>
                        <div class="reviews__text-hidden">
                        Детки занимаются математикой, читают, изучают интересные темы про мир вокруг нас, пишут в тетради, в конце урока даже успевают сделать поделку. Ди нарисовала прикольную пиццу!
                        
                        У нас уже есть опыт занятий онлайн и я смело могу сказать, что уроки в @deti.doma_online очень интересные, много информации, видно, что деток учат с любовью и дают много знаний, поэтому смело могу рекомендовать вам данную школу
                        </div>
                        <a class="reviews__btn-show"></a>
                    </div>
                    <a href="https://www.instagram.com/neprostaya_ya/p/CVk7-IWjf-M/?utm_medium=copy_link" class="reviews__inst"></a>
                </div>

                <div class="reviews__elem">
                    <a class="reviews__img" style="background-image: url(img/reviews/4.png);"></a>
                    <h3 class="reviews__name">Орлова Ирина Леонидовна</h3>
                    <div class="reviews__text">
                        <p>Мой внук ходит на онлайн подготовку к школе, можно не тратить время на дорогу и ожидание внука с секции!</p><br><p>А главное - ему очень нравится, появился интерес к обучению, он ждёт урока и сам готовится , выучил свое расписание!</p>
                        <div class="reviews__text-hidden">
                        Мы уже быстрее читаем и считаем и красиво пишем в тетрадке!!!
                        А сколько интересного рассказывают на уроке))
                        Вечером Денис все пересказывает родителям!
                        </div>
                        <a class="reviews__btn-show"></a>
                    </div>
                    <a href="https://www.instagram.com/p/CYesLJatUNG/?utm_medium=copy_link" class="reviews__inst"></a>
                </div>

            </div>
        </div>
    </div>
</div>