<div class="school">
    <div class="wrapper">
        <div class="school__content">
            <h2 class="school__title title title_center">Онлайн школа «Дети&nbsp;дома»</h2>
            <div class="school__info">
                <a class="school__img" style="background-image: url(img/school/1.png);"></a>
                <div class="school__text">
                    Я — Марина, руководитель онлайн-школы для&nbsp;детей от&nbsp;4&nbsp;до&nbsp;7&nbsp;лет.<br><br>У&nbsp;меня два высших образования, профильное&nbsp;— психолого-педагогическое. Более 14 лет я&nbsp;работаю с&nbsp;дошкольниками и&nbsp;отдаюсь всей душой своему делу.<br><br>Как мама двоих детей, я&nbsp;понимаю, насколько важна сегодня способность ребёнка учиться. Поэтому главная цель нашей школы&nbsp;— вызвать у&nbsp;детей интерес к&nbsp;учёбе и&nbsp;помочь сохранить его на&nbsp;всю жизнь. И&nbsp;у&nbsp;нас это получается: ученики всегда с&nbsp;нетерпением ждут новых занятий.
                </div>
            </div>
            <div class="school__info_video">
                <div class="school__text school__text_2">
                    Мы&nbsp;бережно подбираем под каждого ребенка подходящие его способностям и&nbsp;возможностям программу и&nbsp;учебную группу&nbsp;— не&nbsp;более 3 человек.<br><br>Под каждую группу создаётся отдельная программа онлайн-занятий по&nbsp;подготовке к&nbsp;школе<br><br>
                </div>
                <div class="school__video">
                    <iframe id="youtubeiframe404278945" width="100%" height="100%" src="//youtube.com/embed/yZMmBWTdjM0?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="school__banner">
                <p>В любом ребёнке есть огромный потенциал, и мы помогаем раскрыть его на 100%</p>
            </div>
        </div>
    </div>
</div>