<div class="sign-up">
    <div class="wrapper">
        <div class="sign-up__content">
            <h2 class="sign-up__title title">Как записать ребенка на&nbsp;подготовку к&nbsp;школе</h2>
            <div class="sign-up__grid">
                <div class="sign-up__steps">
                    <p class="sign-up__step sign-up__step_1">Заполните форму на сайте</p>
                    <p class="sign-up__step sign-up__step_2">Мы перезвоним вам в течении суток и подберем удобное для вас время занятий</p>
                    <p class="sign-up__step sign-up__step_3">Вы сможете задать все интересующие вопросы и подробнее узнать о программе</p>
                    <p class="sign-up__step sign-up__step_4">На пробном бесплатном уроке познакомимся и в игровом формате проведем первичную диагностику уровня знаний и умений, а в конце урока ребенок сделает красивую поделку </p>
                </div>
                <div class="sign-up__form">
                    <form action="" class="form-sign-up">
                        <input name="name" type="name" placeholder="Ваше имя">

                        <p>Возраст ребёнка</p>
                        <div class="form-sign-up__select">
                            <select name="age" id="">
                                <option value="4" selected>4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>

                        <label>
                            <p>Укажите ваш телефон для связи</p>
                            <input name="tel" type="number" id="phone" >
                        </label>

                        <label>
                            <p>Город</p>
                            <input name="city" type="text">
                        </label>

                        <input class="checkbox" name="polit" type="checkbox" id="polit">
                        <label class="checkbox__label" for="polit">
                            <div>Я даю согласие с&nbsp;<a href="/politika">Политикой в отношении обработки персональных данных</a></div> 
                        </label>

                        <div class="form-sign-up__btn">
                            <button type="submit" class="btn btn_blue">Записаться</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>