<div class="teachers">
    <div class="wrapper">
        <div class="teachers__content">
            <h2 class="teachers__title title">Наши учителя</h2>
            <span class="title title_info">умеют удержать внимание ребенка у&nbsp;экрана</span>
            <p class="teachers__text">
                Педагоги с&nbsp;профильным высшим образованием, опытом проведения занятий онлайн с&nbsp;дошкольниками и&nbsp;горящим сердцем. Найдут подход и&nbsp;заинтересуют любого ученика
            </p>
            <div class="teachers__slider">
                <div class="slider-teachers">

                    <div class="slider-teachers__slide">
                        <a class="slider-teachers__img" style="background-image: url(img/teachers/1.jpg);"></a>
                        <h4 class="slider-teachers__name">Виктория</h4>
                    </div>

                    <div class="slider-teachers__slide">
                        <a class="slider-teachers__img" style="background-image: url(img/teachers/2.jpg);"></a>
                        <h4 class="slider-teachers__name">Марина</h4>
                    </div>

                    <div class="slider-teachers__slide">
                        <a class="slider-teachers__img" style="background-image: url(img/teachers/3.jpg);"></a>
                        <h4 class="slider-teachers__name">Кристина</h4>
                    </div>

                    <div class="slider-teachers__slide">
                        <a class="slider-teachers__img" style="background-image: url(img/teachers/4.jpg);"></a>
                        <h4 class="slider-teachers__name">Полина</h4>
                    </div>

                    <div class="slider-teachers__slide">
                        <a class="slider-teachers__img" style="background-image: url(img/teachers/5.jpg);"></a>
                        <h4 class="slider-teachers__name">Мария</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>